@font-face {
    font-family: "Supreme-Variable";
    src: url("/fonts/Supreme-Variable.woff2") format("woff2"),
        url("/fonts/Supreme-Variable.woff") format("woff");
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Supreme-VariableItalic";
    src: url("/fonts/Supreme-VariableItalic.woff2") format("woff2"),
        url("/fonts/Supreme-VariableItalic.woff") format("woff");
    font-weight: 100 800;
    font-display: swap;
    font-style: italic;
}