{{ with .GetTerms "authors" }}
<div class="flex gap-3">  
    {{ range . }}
      <div class="my-auto">
        {{ $authorPage := . }}
        {{ with .Resources.Get .Params.avatar}}
        <img src="{{ .RelPermalink }}" class="w-10 h-10 rounded-full"
            alt="{{$authorPage.LinkTitle}}">
        {{ end }}
      </div>

      <div>
          <h1 class="text-lg charcoal font-bold">
              <a href="{{ .RelPermalink }}">{{.LinkTitle}}</a>
          </h1>
      </div>
    {{ end }}
</div>
{{ end }}

{{ partial "blog_datetime.html" . }}
