{{ define "main" }}

<div class="px-56 pt-20 flex">
    {{ range .Pages }}
    <!--Col 1 starts here-->
    <div class="space-y-28 w-4/6 pr-20">
        
        <!--List item 1 starts here-->
        <div class="pb-24">

            <!--User profile starts here-->
            <div class="flex gap-3 my-5">
                <div class="my-auto">
                    <img src="{{ .RelPermalink }}/{{ .Params.avatar.image }}" class="w-10 h-10 rounded-full" alt="">
                </div>
                <div>
                    
                    <div>
                        <h1 class="text-lg charcoal font-bold">
                             {{.Params.author}}
                        </h1>
                    </div>
                    
                    <div class="flex gap-2 text-sm charcoal opacity-75">
                        <ul class="flex gap-2 text-sm charcoal">
                            <li>{{ .PublishDate.Format "January 2, 2006" }}</li>
                            <li>•</li>
                            <li>{{ .Params.time }}</li>
                        </ul>
                    </div>
                </div> 
            </div>
            <!--User profile ends here-->
    
            <!--Image and content preview starts here-->
            
            <a href="{{ .RelPermalink }}">
                <div>
                    <img src="{{ .RelPermalink }}/{{ .Params.image.url }}" class="object-fill w-full h-80" alt="Blog image">
                </div>
                <div class="charcoal">
                    <dl>
                        <dt class="text-3xl my-5 font-bold">{{ .Title }}</dt>
                        <div class="flex text-xs gap-1.5">
                            <p class="bg-charcoal-opacity-10 py-1 px-2.5 uppercase text-sm">{{ .Params.tags }}</p>
                        </div>
                        <dd class="text-2xl my-5">{{ .Params.summary }}</dd>
                    </dl>
                </div>
        
                <!--CTA-->
                <div class="pt-10">
                    <a href="{{ .RelPermalink }}" class="bg-rose-600 py-4 px-12 rounded-full text-white text-xl">Continue Reading</a>
                </div>
                <!--CTA-->
            </a>
            
            <!--Image and content preview ends here-->
        </div>
        <!--List item 1 ends here-->
    </div>
    <!--Col 1 ends here-->
    

    <!--Col 2 starts here-->
    <div class="space-y-10 w-2/6 pt-10 pl-5">
        <!--Search
        <div>
            <input type="text" placeholder="Search blog..." class="border-2 border-slate-200 p-2.5 w-full">
        </div>
        -->

        <!--Categories-->
        <div class="">
            <h3 class="text-xl font-bold mb-6">Categories</h3>
            <div class="text-xs space-y-1.5 mb-14">
                <p class="bg-charcoal-opacity-10 py-1 px-2.5 w-fit uppercase text-sm">{{ .Params.tags }}</p>
            </div>
        </div>
        <!--Categories-->

        <!--Popular Posts-->
        <div>
            <h3 class="text-xl font-bold pb-6">Popular Posts</h3>
            <div class="space-y-10">
                <!--card 1 starts here-->
                <div class="p-8 bg-white drop-shadow-md rounded-md border-2 border-slate-50">
                    <!--User profile-->
                    <div class="flex gap-3 mb-2.5">
                        <div class="my-auto">
                            <img src="{{ .RelPermalink }}/{{ .Params.avatar.image }}" class="w-10 h-10 rounded-full" alt="">
                        </div>
                        <div class="my-auto">
                            <h1 class="text-base charcoal font-bold">
                                {{.Params.author}}
                            </h1>
                        </div> 
                    </div>
                    <!--User profile-->
            
                    <!--Blog image and content preview-->
                    <div>
                        <img src="{{ .RelPermalink }}/{{ .Params.image.url }}" class="object-fill w-full h-36" alt="Blog image">
                    </div>
                    <div class="charcoal">
                        <h2 class="text-lg my-2.5 font-bold">{{.Title}}</h2>
                    </div>
                    <!--Blog image and content preview-->

                    <div class="flex gap-2 text-sm charcoal opacity-75">
                        <ul class="flex gap-2 text-sm charcoal">
                            <li>{{ .PublishDate.Format "January 2, 2006" }}</li>
                            <li>•</li>
                            <li>{{ .Params.time }}</li>
                        </ul>
                    </div>
                </div>
                <!--card 1 ends here-->
            </div>
        </div>
        <!--Popular Posts-->
    </div>
    <!--Col 2 ends here-->
    {{ end }}
</div>
{{ end }}