{{ define "main" }}
<h1 class="h1 text-center mx-auto w-3/5">{{.Title}}</h1>
<div class="w-3/5 mx-auto">
    <!--User profile-->
    <div class="flex gap-3 my-10 mx-auto flex justify-center">
        <div class="my-auto">
            <img src="{{ .Params.avatar.image }}" class="w-10 h-10 rounded-full" alt="">
        </div>
        <div>
            <div>
                <h1 class="text-lg charcoal font-bold">
                    {{ .Params.author }}
                </h1>
            </div>
            <div class="flex gap-2 text-sm charcoal opacity-75">
                <ul class="flex gap-2 text-sm charcoal">
                    <li>{{ .PublishDate.Format "January 2, 2006" }}</li>
                    <li>•</li>
                    <li>{{ .Params.time }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!--User profile-->

    <!--Blog image-->
    <div>
        <img src="{{ .Params.image.url }}" alt="blog image" class="h-80 mx-auto w-full">
    </div>
    <!--Blog image-->

    <!--Blog content-->
    <div class="mx-auto my-10">
        {{ .Content }}
    </div>
    <!--Blog content-->


    <!--Col 2 starts here-->
    {{ partial "blog_sidebar.html" . }}
    <!--Col 2 ends here-->
</div>
{{ end }}