{{ define "main" }}
<!-- <h1 class="h1 text-center mx-auto md:w-3/5">{{.Title}}</h1> -->
<div class="md:w-3/5 mx-auto">
    <div class="px-4">
        {{ with .Resources.Get .Params.avatar }}
        <div>
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"  alt="blog image" class="mx-auto">
        </div>
        {{ end }}
        <!--author image-->

        <div class="mx-auto my-10">
            <h3><a href="https://github.com/{{ .Params.github }}">{{ .Title }}</a></h3>

            {{ .Content }}
        </div>

        <h3 class="text-xl font-bold mb-6">Posts by {{ .Title }}</h3>
          {{ range .Pages }}
            <div class="column is-half">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle}}</a>
                {{ partial "blog_datetime.html" . }}
            </div>
          {{ end }}
    </div>

    <!--Col 2 starts here-->
    <div class="space-y-10 md:pt-10">
        {{ partial "blog_sidebar.html" . }}
    </div>
    <!--Col 2 ends here-->
</div>
{{ end }}