<footer class="section pb-0">

  <div class="pt-16">
    <div
      class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 pb-10 border-b border-b-zinc-200">

      <!-- Learn -->
      <div class="px-4">
        <h3 class="text-3xl font-semibold mb-0">Learn</h3>
        <div class="space-y-2 text-base text-red-500">
          <div><a href="/docs" class="hover:text-red-700 transition">Documentation</a></div>
          <div><a href="https://cloudnative-pg.io/documentation/current/quickstart/"
              class="hover:text-red-600 transition">Quickstart Guide</a></div>
          <div><a href="/tags/tutorial" class="hover:text-red-600 transition">Tutorials</a></div>
        </div>
      </div>

      <!-- Community -->
      <div class="px-4">
        <h3 class="text-3xl font-semibold mb-0">Community</h3>
        <div class="space-y-2 text-base text-red-500">
          <div><a href="/blog" class="hover:text-red-700 transition">Blog</a></div>
          <div><a href="/releases" class="hover:text-red-600 transition">Releases</a></div>
          <div><a href="https://github.com/cloudnative-pg/cloudnative-pg/blob/main/CONTRIBUTING.md"
              class="hover:text-red-600 transition">How to Contribute</a></div>
        </div>
      </div>

      <!-- Logo + Social -->
      <div class="flex flex-col items-center px-4">
        <a href="https://cloudnative-pg.io/">
          <img src="/logo/large_logo.svg" alt="CloudNativePG Logo" class="mb-2">
        </a>
        <div class="flex space-x-4 mb-2">
          <a href="https://cloud-native.slack.com/archives/C08MAUJ7NPM">
            <img src="/icons/Slack.svg" alt="Slack" title="Join our Slack channel now!">
          </a>
          <a href="https://x.com/CloudNativePg">
            <img src="/icons/x.svg" alt="x" style="width:28px; height:43px;">
          </a>
          <a href="https://www.youtube.com/channel/UCTGH88W1BiuRRPTzJUDPJyA">
            <img src="/icons/YouTube.svg" alt="YouTube">
          </a>
          <a href="https://www.linkedin.com/company/cloudnative-pg">
            <img src="/icons/linkedin.svg" alt="linkedin" style="width:25px; height:43px;">
          </a>
          <a href="https://mastodon.social/@CloudNativePG" class="px-1">
            <img src="/icons/mastodon.svg" alt="Mastodon">
          </a>
          <a href="https://bsky.app/profile/cloudnativepg.bsky.social" class="px-1">
            <img src="/icons/bluesky.svg" alt="Bluesky">
          </a>
        </div>
        <div class="text-center pt-4">
          <a href="https://github.com/cloudnative-pg/cloudnative-pg"
            class="bg-red-1 py-2 px-12 rounded-full text-white text-xl">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Legal Text Section -->
  <div class="text-center pb-4">
    <p class="text-sm charcoal md:w-1/2 mx-auto md:pt-10 px-6 pt-12">
      Copyright &copy; CloudNativePG a Series of LF Projects, LLC.<br />
      For website terms of use, trademark policy and other project policies please see
      <a href="https://lfprojects.org/policies/">LF Projects, LLC Policies</a>.<br /><br />
      <a href="https://www.linuxfoundation.org/trademark-usage/" class="red-1">The Linux Foundation has registered
        trademarks and uses trademarks</a>.<br /><br />
      <a href="https://www.postgresql.org/about/policies/trademarks" class="red-1">Postgres, PostgreSQL and the Slonik
        Logo are trademarks or
        registered trademarks of the PostgreSQL Community Association of Canada, and
        used with their permission</a>.
    </p>
  </div>
</footer>