<footer class="text-center pb-24">
    <p class="text-sm text-zinc-900 dark:text-zinc-300 md:w-1/2 mx-auto md:pt-10 px-6 pt-12">

      &copy; The CloudNativePG Contributors.<br />

      <a href="https://www.linuxfoundation.org/trademark-usage/"
        class="text-red-600 dark:text-red-800 ">The Linux Foundation has registered trademarks and uses
        trademarks</a>.<br />

      <a href="https://www.postgresql.org/about/policies/trademarks"
        class="text-red-600 dark:text-red-800">Postgres, PostgreSQL and the Slonik Logo are trademarks or
        registered trademarks of the PostgreSQL Community Association of Canada, and
        used with their permission</a>.

    </p>
</footer>
