<section>
  <div class="py-16">
    <div class="flex flex-row px-56 justify-between">
      <div class="w-1/2">
        <h1 class="text-6xl font-bold cnp-blue">{{.Title}}</h1>
        <h1 class="text-6xl font-bold red-1 pt-2.5">{{.Params.subtitle}}</h1>
        <p class=" gray-4 text-2xl font-light leading-10 py-5 container tracking-wider">
          {{ .Content | plainify }}
        </p>
        <div class="pt-7">
          <a href="{{.Params.cta.url}}"
            class="bg-red-1 py-4 px-12 rounded-full text-white text-3xl">{{.Params.cta.content| plainify}}</a>
        </div>
      </div>
      <div class="ml-8">
        {{ $image := resources.Get "images/hero_image.svg" }}
        <img src="{{ $image.RelPermalink }}" alt="hero image">
      </div>
    </div>
</section>