<section>
  <div class="py-16">
    <div class="flex flex-row justify-center">
      <div class="">
        <h1 class="text-5xl font-bold text-slate-900 leading-10">{{.Title}}</h1>
        <h1 class="text-5xl font-bold text-rose-600 leading-10 pt-4">{{.Params.subtitle}}</h1>
        <p class=" text-slate-600 text-xl font-light leading-9 pt-5 w-600">
          {{ .Content | plainify }}
        </p>
        <div class="pt-7">
          <a href="{{.Params.cta.url}}"
            class="bg-rose-600 py-4 px-12 rounded-full text-white text-xl">{{.Params.cta.content| plainify}}</a>
        </div>
      </div>
      <div>

        {{ $image := resources.Get "images/hero_image.svg" }}
        <img src="{{ $image.RelPermalink }}" alt="hero image">
      </div>
    </div>
</section>