{{ if modBool .i 2 }}
<div class="w-full bg-gray-1 py-16 px-64">
  <section class="container text-left flex flex-row justify-between">
    <div class="mx-auto my-auto">
      <img src="{{ .context.Params.icon }}" alt="{{.context.Title}}"/>
    </div>
    <div class="w-3/5">
      <h1 class="text-3xl py-4 font-medium cnp-blue">{{ .context.Title }}</h1>
      <p class="text-xl leading-8 gray-4">{{ .context.Content }}</p>
    </div>
  </section>
</div>
{{ else }}
<div class="w-full  bg-white py-16 px-64">
  <section class="container text-left flex flex-row justify-between">
    <div class="w-3/5">
      <h1 class="text-3xl py-4 font-medium cnp-blue">{{ .context.Title }}</h1>
      <p class="text-xl leading-8 gray-4">{{ .context.Content }}</p>
    </div>
    <div class="mx-auto my-auto">
      <img src="{{ .context.Params.icon }}" alt="{{.context.Title}}" />
    </div>
  </section>
</div>
{{ end }}

  
  

