<!--Navbar starts here-->
<main>
  <header>
    <div class="flex flex-row px-16 justify-between py-5">
      <div>
        {{ $image := resources.Get "logo/large_logo.svg" }}
        <a href="/"><img src="/logo/large_logo.svg" class="h-14" alt="Cloud Native Postgres Logo"></a>
      </div>
      <div>
        <ul class="flex gap-14 text-2xl medium-gray my-5">
          <li><a href="/docs">Documentation</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/end_users">End Users</a></li>
        </ul>
      </div>
      <div class="flex gap-5 my-4 fill-cnp-blue">
       <a class="github-button" href="https://github.com/cloudnative-pg/cloudnative-pg"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-size="large" data-show-count="true"
            aria-label="Star cloudnative-pg/cloudnative-pg on GitHub">Star</a>
        <a href="https://join.slack.com/t/cloudnativepg/shared_invite/zt-17culux7k-P_UsVOOR9teUYi4dGhDSBQ">
          <img src="/icons/Slack.svg" alt="Slack" title="Join our Slack channel now!">
        </a>
        <a href="https://twitter.com/CloudNativePg">
          <img src="/icons/Twitter.svg" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/channel/UCTGH88W1BiuRRPTzJUDPJyA">
          <img src="/icons/YouTube.svg" alt="YouTube">
        </a>
      </div>
    </div>
  </header>
</main>
