{{ define "main" }}

{{ with .GetPage "hero" }}
{{ partial "hero" . }}
{{ end }}
<section>

    <!-- Cards start here-->
    <div class="w-full grid grid-cols-3 text-white bg-red-1 px-36 py-12">
        {{ range where .Site.Pages "Params.type" "card" }}
        {{ partial "card" . }}
        {{ end }}
    </div>
    <!-- Cards end here-->

    <!-- Info starts here-->
    <div>
        {{ with .GetPage "info" }}
    {{ range sort .Pages ".Params.order" }}
    {{ $.Scratch.Add "i" 1 }}
    {{ partial "info" (dict "context" . "i" ($.Scratch.Get "i")) }}
    {{ end }}
    {{ end }}

    </div>
    <!-- Info ends here-->

    <!--Section starts here-->
    <div class="text-center bg-cnp-blue py-36">
        <h1 class="text-xl text-white">This open source project has been originally created by</h1>
        <a href="https://www.enterprisedb.com/"><img src="logo/edb_logo.svg" alt="EDB logo" class="mx-auto pt-6"></a>
        <div class="mx-auto py-24 px-56">
            <hr>
        </div>
        <h1 class="text-5xl font-bold red-1 leading-10 pt-4">100%</h1>
        <h1 class="text-5xl font-bold text-white leading-10 pt-4">Open Source</h1>
        <p class="text-xl text-white w-2/5 mx-auto mt-10">
        CloudNativePG is 100% open source and community-driven.
        All components are available under the <a href="https://github.com/cloudnative-pg/cloudnative-pg/blob/main/LICENSE" class="text-rose-600">Apache 2 license</a>
        on <a href="https://github.com/cloudnative-pg/cloudnative-pg" class="text-rose-600">GitHub</a>.</p>
        <img src="icons/section/Rating.svg" alt="rating" class="mx-auto pt-5">
    </div>
    <!--Section ends here-->

    <div class="text-center pt-24">
        <a href="https://github.com/cloudnative-pg/cloudnative-pg" class="bg-red-1 py-4 px-12 rounded-full text-white text-xl">View on GitHub</a>
    </div>
</section>
{{ end }}
