{{ define "main" }}

{{ with .GetPage "hero" }}
{{ partial "hero" . }}
{{ end }}
<section>

    <!-- Cards start here-->
    <div class="w-full grid grid-cols-3 text-white bg-rose-600 px-36 my-12 py-12">
        {{ range where .Site.Pages "Params.type" "card" }}
        {{ partial "card" . }}
        {{ end }}
    </div>
    <!-- Cards end here-->

    <!-- Info starts here-->
    {{ with .GetPage "info" }}
    {{ range sort .Pages ".Params.order" }}
    {{ $.Scratch.Add "i" 1 }}
    {{ partial "cta" (dict "context" . "i" ($.Scratch.Get "i")) }}
    {{ end }}
    {{ end }}
    <!-- Info ends here-->
</section>

{{ end }}