{{ define "main" }}

{{ with .GetPage "hero" }}
{{ partial "hero" . }}
{{ end }}
<section>

    <!-- Cards start here-->
    <div class="w-full grid grid-cols-1 md:grid-cols-3 text-white bg-red-1 md:px-36 md:py-12 py-8">
        {{ range where .Site.Pages "Params.type" "card" }}
        {{ partial "card" . }}
        {{ end }}
    </div>
    <!-- Cards end here-->

    <!-- Info starts here-->
    <div>
        {{ with .GetPage "info" }}
        {{ range sort .Pages ".Params.order" }}
        {{ $.Scratch.Add "i" 1 }}
        {{ partial "info" (dict "context" . "i" ($.Scratch.Get "i")) }}
        {{ end }}
        {{ end }}

    </div>
    <!-- Info ends here-->

    <!--Section starts here-->
    <div class="text-center bg-cnp-blue md:py-36 py-14">
        <h1 class="md:text-xl text-white text-base">This open source project has been originally created by</h1>
        <a
            href="https://www.enterprisedb.com/products/cloud-native-postgresql-kubernetes-ha-clusters-k8s-containers-scalable"><img
                src="logo/edb_landscape_color_grey.svg" alt="EDB logo" class="mx-auto pt-6 h-20 md:h-24"></a>
        <div class="mx-auto md:py-24 md:px-56 px-4 py-8">
            <hr>
        </div>
        <h1 class="md:text-5xl font-bold red-1 leading-10 md:pt-4 text-3xl">100%</h1>
        <h1 class="md:text-5xl font-bold text-white leading-10 md:pt-4 text-3xl">Open Source</h1>
        <p class="md:text-xl text-white md:w-2/5 mx-auto mt-10 text-lg px-4">
            CloudNativePG is 100% open source and community-driven.
            All components are available under the <a
                href="https://github.com/cloudnative-pg/cloudnative-pg/blob/main/LICENSE" class="text-rose-600">Apache 2
                license</a>
            on <a href="https://github.com/cloudnative-pg/cloudnative-pg" class="text-rose-600">GitHub</a>.</p>
    </div>
    <!--Section ends here-->
</section>
{{ end }}
