{{ define "main" }}

<div class="mx-auto md:w-1/2 px-4 well">
    <h2 class="text-xl mt-6">{{.Title}}</h2>
    <p>{{.Content}}</p>

    {{ range .Pages }}
    <hr>
    {{ if .Params.image }}
    <a href="{{ .Params.homepage }}">
        <img src="{{.Params.image }}" alt="{{.Title}}" class="py-4" />
    </a>
    {{ else }}
    <h2><a href="{{ .Params.homepage }}">{{ .Title }}</a></h2>
    {{ end }}
    {{.Content}}
    <p> For more information visit <a href="{{ .Params.homepage }}">{{ .Title }}</a>.</p>
    {{ end }}
</div>
{{ end }}