{{ define "main" }}

<div class="mx-auto w-1/2">
    <h1 class="text-xl">{{.Title}}</h1>
    <p>{{.Content}}</p>

    {{ $ps := .Paginate (union .Pages .Sections) }}
    {{ range sort $ps.Pages "Title" }}
    <hr>
    <div class="w-full flex flex-auto">
        {{ if .Params.image }}
        <div class="w-64 px-4">
            <a href="{{ .Params.homepage }}">
                <img class="w-full" src="{{.Params.image }}" alt="{{.Title}}" />
            </a>
        </div>
        <div>
            {{ else }}
            <div>
                <h2><a href="{{ .Params.homepage }}">{{ .Title }}</a></h2>
                {{ end }}
                {{.Content}}
                For more information visit <a href="{{ .Params.homepage }}">{{ .Title }}</a>.
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}